In [1]:
import pandas as pd


sheets = pd.read_excel('教育科學.xlsx', sheet_name=None, engine='openpyxl')

df = pd.DataFrame()

sheet_names = list(sheets.keys())
sheet_names.reverse()

# 將所有工作表的資料合併到一個 DataFrame 中
for sheet_name in sheet_names[:-1]:  # 不包括最後一張表
    df = sheets[sheet_name]
    df = pd.concat([df, df], ignore_index=True)

print(df.columns)
df

Index(['職類名稱', '名次', '提名單位'], dtype='object')

     職類名稱  名次                提名單位
0    工業機械   1      新北市立新北高級工業職業學校
1    工業機械   2      臺北市立木柵高級工業職業學校
2    工業機械   3      臺北市立木柵高級工業職業學校
3    工業機械   4  國立彰化師範大學附屬高級工業職業學校
4    工業機械   5      臺中市立臺中工業高級中等學校
..    ...  ..                 ...
777    鑄造   4        國立員林高級農工職業學校
778    鑄造   5        國立臺南高級工業職業學校
779    鑄造  佳作        國立員林高級農工職業學校
780    鑄造  佳作      新北市立新北高級工業職業學校
781    鑄造  佳作      臺北市立木柵高級工業職業學校

[782 rows x 3 columns]

In [2]:
# 刪除 '名次' 欄位
df = df.drop(columns=['名次'])

# 檢查結果
df

     職類名稱                提名單位
0    工業機械      新北市立新北高級工業職業學校
1    工業機械      臺北市立木柵高級工業職業學校
2    工業機械      臺北市立木柵高級工業職業學校
3    工業機械  國立彰化師範大學附屬高級工業職業學校
4    工業機械      臺中市立臺中工業高級中等學校
..    ...                 ...
777    鑄造        國立員林高級農工職業學校
778    鑄造        國立臺南高級工業職業學校
779    鑄造        國立員林高級農工職業學校
780    鑄造      新北市立新北高級工業職業學校
781    鑄造      臺北市立木柵高級工業職業學校

[782 rows x 2 columns]

In [3]:
# 計算每個提名單位在同一個職類名稱中出現的次數
df['得名次數'] = df.groupby(['職類名稱', '提名單位'])['提名單位'].transform('count')

# 刪除重複的行，只保留第一個出現的
df = df.drop_duplicates(subset=['職類名稱', '提名單位'])

print(df.head(20))
# unique_units = df['提名單位'].unique()

# 列印結果
# for unit in unique_units:
#     print(unit)
# df.loc[df['學校名稱'] == '國立臺灣大學', '是否得名'] = '0'

         職類名稱                提名單位  得名次數
0        工業機械      新北市立新北高級工業職業學校   2.0
1        工業機械      臺北市立木柵高級工業職業學校   6.0
3        工業機械  國立彰化師範大學附屬高級工業職業學校   4.0
4        工業機械      臺中市立臺中工業高級中等學校   4.0
8      資訊網路布建      高雄市立海青高級工商職業學校   6.0
10     資訊網路布建        國立羅東高級工業職業學校   4.0
13     資訊網路布建      臺北市立松山高級工農職業學校   2.0
14       集體創作        國立秀水高級工業職業學校   6.0
17       集體創作  國立彰化師範大學附屬高級工業職業學校   4.0
18       集體創作        國立埔里高級工業職業學校   2.0
19       集體創作        國立二林高級工商職業學校   2.0
20       集體創作      臺中市立大甲工業高級中等學校   4.0
23       機電整合      臺北市立大安高級工業職業學校   8.0
27       機電整合  國立彰化師範大學附屬高級工業職業學校   4.0
29       機電整合      臺北市立內湖高級工業職業學校   4.0
31       機電整合        國立嘉義高級工業職業學校   4.0
33  CAD機械設計製圖        國立草屯高級商工職業學校   8.0
34  CAD機械設計製圖        國立鳳山高級商工職業學校   2.0
36  CAD機械設計製圖        國立嘉義高級工業職業學校   2.0
39  CAD機械設計製圖        國立屏東高級工業職業學校   2.0